<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite thread-count="1" verbose = "2" name="Suite" configfailurepolicy="skip">
		<listeners>
       			<listener class-name="reports.TestListener" />
				<listener class-name="reports.AnnotationTransformer"/>
				<listener class-name="reports.PriorityInterceptor"/>
	   	</listeners>
	 	<parameter name = "Browser" value="${browser}"/>
  	<test thread-count="5" name="Test">	
			<parameter name="groups" value="${groups}"></parameter>
			<groups>
				<run>
							<include name="${groups}"></include>
				</run>
			</groups>
			<classes>
      			 <class name="practiceTest.TestAlertUrlPage"/>
    		</classes>
  	</test>

<test thread-count="5" name="Test1">	
		<parameter name="groups" value="${group}"></parameter>
		<groups>
				<run>
							<include name="${group}"></include>
				</run>
		</groups>
		<classes>
      			 <class name="practiceTest.TestHomePageBeforeLogin"/> 
			 
    	</classes>
  </test> 
 
<test thread-count="5" name="Test2">	
	<parameter name="groups" value="${group}"></parameter>
		<groups>
				<run>
							<include name="${group}"></include>
				</run>
		</groups>
		<classes>
				<class name="practiceTest.TestSignUpPage"/>
    	</classes>
  </test> 
<!--
<test thread-count="5" name="Test3">	
<parameter name="groups" value="${group}"></parameter>
		<groups>
				<run>
							<include name="${group}"></include>
				</run>
		</groups>
		<classes>
      			<class name="practiceTest.TestLoginPage"/>
    	</classes>
  </test> 
<test thread-count="5" name="Test4">	
<parameter name="groups" value="${group}"></parameter>
		<groups>
				<run>
							<include name="${group}"></include>
				</run>
		</groups>
		<classes>
				<class name="practiceTest.TestProductDetailPage"/> 
    	</classes>
  </test> 
-->

</suite> 
